[Unit]
Description=Streamlined onboarding  OCF Diplomat
Before=diplomat.service
After=network.target
[Service]
Type=simple
Environment=WPA_CTRL_IFACE=/var/run/hostapd/wlan0
Environment=DHCP_NAMED_PIPE=/var/tmp/leases
ExecStart=/usr/local/bin/dpp_diplomat
[Install]
WantedBy=multi-user.target